.g-main{
    margin: 0 auto;
    margin-top: 100px;
    width: 200px;
    height:80px;
    color: darksalmon;
    letter-spacing: 10px;
    font-size: 40px;
    font-weight: 900;
    position: relative;
    /* animation: color 1s infinite;*/
}
.add:before,.add:after{
    display:inline-block ;
    height: 8px;
    width: 10px;
    background-color: bisque;
    content: '';
    animation: mymove 1s ease alternate;
}
.add:before{
    position: absolute;
    float: right;
    bottom: 0px;
    right: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
}
.add:after{
    position: absolute;
    float: left;
    left: 100px;
    bottom: 0px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}
.btn{
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    line-height: 40px;
    width: 80px;
    height:40px;
    color: white;
    background-color: bisque;
    border-radius:50px ;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.btn:hover{
    cursor: pointer;

}

@keyframes mymove {
    0%{
        width: 0px;
    }
    50%{
        width: 100px;
    }
    100%{
        width: 0px;
    }
}
@keyframes color {
    0%{
        color: darkgray;
    }
    50%{
        color: bisque;
    }
    100%{
        color: darkgray;
    }
}